:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(202, 202, 214)
}

.app-container {
  max-width: 400px; 
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

select {
  width: 100%;
  border-radius: 5px;
  height: 48px;
  padding: 0.6em 1.2em;
  font-size: 16px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 
.select-wrapper {
  margin-bottom: 8px; 
}

.select-wrapper select {
  height: 40px; 
}
   
select:hover {
  color: #737392;
}

select:focus {
    color: whitesmoke;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  color: black;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
   color: #213547;
   background-color: #9c5050;
   opacity: 95%;
  
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: black;
    
  }
}
